[[extend 'layout.html']]

<style>
[v-cloak] {
     display: none;
}


.searchbar{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20vh; 
    position: absolute;
    left: 35px;
}

h1{
    text-align: center;
    position: absolute;
    left: 600px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.coaching_style{
    position:absolute; 
    top: 100px;
    right: 80px;
}

.coaches{
    position: absolute;
    margin-left: 70px;
    margin-top: 180px;
    border: blue;
}

</style>


<div class="section" id="vue-target" v-cloak>
    <h1>Find Your Coach</h1>
    <div class = "searchbar">
        <div class = "columns">
            <div class = "column is-11 is-offset-1">
                <input class = "input is-rounded" type = "text" placeholder = "Search State" v-model="state_q">
            </div>
            <div class = "column is-11 is-offset-1">
                <input class = "input is-rounded" type = "text" placeholder = "Search City" v-model="city_q">
            </div>
            <div class = "column is-11 is-offset-1">
                <button class = "button is-rounded is-primary" @click="get_coaches">Find</button>
            </div>
        </div>
    </div>
    <div class = "coaches">
        <div v-for="c in coaches">
            <table class = "table is-fullwidth">
                <thead>
                    <tr>
                        <th>Coach {{c.auth_user.first_name}}</th>
                        <td>About: {{c.coaches.about_coach}}</td>
                        <td>Coaching Experience: {{c.coaches.experience_coach}} years</td> 
                        <td>Private Rate: ${{c.coaches.private_rate_coach}}/hr</td>     
                        <td>Hitting Rate: ${{c.coaches.hitting_rate_coach}}/hr</td> 
                        <td><button class = "button is-info">Contact</button></td>
                    </tr>
                </thead>
            </table>            
        </div>
    </div>
</div>



[[block page_scripts]]
<!-- Loads the index-specific js for Vue -->
<script>
    let get_coaches_url = "[[=XML(get_coaches_url)]]"; 
</script>
<script src="../static/js/coaching_find.js"></script>
[[end]]
