[[extend 'layout.html']]

<style>
[v-cloak] {
     display: none;
}


.searchbar{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20vh; 
    position: absolute;
    left: 35px;
}

h1{
    text-align: center;
    position: absolute;
    left: 600px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.coaching_style{
    position:absolute; 
    top: 100px;
    right: 80px;
}
</style>

<h1>Find Your Coach</h1>
    <div class = "searchbar">
        <div class = "columns">
            <div class = "column is-11 is-offset-1">
                <input class = "input is-rounded" type = "text" placeholder = "Search State">
            </div>
            <div class = "column is-11 is-offset-1">
                <input class = "input is-rounded" type = "text" placeholder = "Search City">
            </div>
            <div class = "column is-11 is-offset-1">
                <button class = "button is-rounded is-primary">Find</button>
            </div>
    </div>
 
    <div v-if="is_coach">
    <!-- Display when the user is a coach -->
    <p>You are a coach.</p>
    <p>Phone Number: {{ phone_number }}</p>
    <p>State: {{ state }}</p>
    <p>City: {{ city }}</p>
    <p>About: {{ about }}</p>
    <p>Add Private Rate: {{ add_private_rate }}</p>
    <!-- Display other fields as needed -->
</div>



[[block page_scripts]]
<script src="../static/js/coaching_apply.js"></script>
    [[end]]
    