[[extend 'layout.html']]

<style>
[v-cloak] {
     display: none;
}


.searchbar{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20vh; 
    position: absolute;
    left: 35px;
}

h1{
    text-align: center;
    position: absolute;
    left: 600px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.coaching_style{
    position:absolute; 
    top: 100px;
    right: 80px;
}
</style>


<div class="section" id="vue-target" v-cloak>
    <h1>Find Your Coach</h1>
    <div class = "searchbar">
        <div class = "columns">
            <div class = "column is-11 is-offset-1">
                <input class = "input is-rounded" type = "text" placeholder = "Search State">
            </div>
            <div class = "column is-11 is-offset-1">
                <input class = "input is-rounded" type = "text" placeholder = "Search City">
            </div>
            <div class = "column is-11 is-offset-1">
                <button class = "button is-rounded is-primary">Find</button>
            </div>
        </div>
    </div>

    <div v-for="c in coaches">
        <p>{{c.phone_num_coach}}</p>
        <p>{{c.state_coach}}</p>
        <p>{{c.citycoach}}</p>
        <p>{{c.about_coach}}</p>
        <p>{{c.experience_coach}}</p>
        <p>{{c.private_rate_coach}}</p>
        <p>{{c.hitting_rate_coach}}</p>
    </div>

</div>



[[block page_scripts]]
<!-- Loads the index-specific js for Vue -->
<script>
    let get_coaches_url = "[[=XML(get_coaches_url)]]"; 
</script>
<script src="../static/js/coaching_find.js"></script>
[[end]]
