[[extend 'layout.html']]

<style>
[v-cloak] {
     display: none;
    }

.nav-item{
  margin-right: 30px;
}

</style>

<head>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css">
  </head>
  <body>
    <div id = "app">
    <nav class = "navbar navbar-expand lg navbar-light bg-light">
      <div class = "container-fluid">
        <a class = "navbar-brand" href = "#">Match Point Central</a>
        <ul class = "navbar-nav me-auto mb-2 mg-lg-0">
          <li class = "nav-item">
            <a class = "nav-x" aria-current="page" href = "#">{{ apply }}</a>
          </li>
          <li class = "nav-item">
            <a class = "nav-x" aria-current="page" href = "#">{{ journey }}</a>
          </li>
          <li class = "nav-item">
            <a class = "nav-x" aria-current="page" href = "#">{{ user }}</a>
          </li>
        </ul>
      </div>
    </nav>
    <h4>{{ slogan }}</h4>

  <!-- Put here your Vue.js template -->


[[block page_scripts]]
<!-- Loads the index-specific js for Vue -->
<script>
  let my_callback_url = "[[=XML(my_callback_url)]]";
</script>
  <script src = "../static/js/index.js">
</script>
[[end]]