[[extend 'layout.html']]

<style>
[v-cloak] {
     display: none;

}

#app p {
  color: green;
  font-size: 30px;
  position: absolute;
  top: 100px;
  left: 50px;
  mix-blend-mode: normal;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#hr {
  border-top: 2px solid green;
  position: relative;
  top: 70px;
}
</style>

  <div id = "app" v-cloak>
    <p>{{ pagetitle }}</p>
  </div>   
  <hr id = "hr">

    
  <!-- Put here your Vue.js template -->


[[block page_scripts]]
<!-- Loads the index-specific js for Vue -->
<script>
  let my_callback_url = "[[=XML(my_callback_url)]]";
</script>

  <script src = "../static/js/index.js">
</script>
[[end]]
