[[extend 'layout.html']]

<style>
[v-cloak] {
  display: none;
}
</style>

<div class="section" id="vue-target" v-cloak>
  <div class="columns">
    <div class="column is-one-third">
      <div v-for="m in messages">
        <div class="field">
          <p class="control">
            <button class="button is-link is-outlined" @click="select(m._idx)">
              <span>{{m.fname}} {{m.lname}}</span>
            </button>
          </p>
        </div>
      </div>
    </div>
    <div class="column">
      <div v-if="selected">
        <div v-for="m in selected.messages">
          {{m}}
        </div>
        <div class="field">
          <textarea class="textarea" placeholder="Say Hi!" v-model="selected.draft"></textarea>
        </div>
        <div class="field">
          <p class="control">
            <button class="button is-link" @click="send">Send!</button>
          </p>
        </div>
      </div>
      <div v-else>
        <p>No user selected</p>
      </div>
    </div>
  </div>
</div>

[[block page_scripts]]
<script>
  let send_message_url = "[[=XML(send_message_url)]]";
  let get_messages_url = "[[=XML(get_messages_url)]]";
</script>
<script src="../static/js/messages.js"></script>
[[end]]
