[[extend 'layout.html']]

<style>
[v-cloak] {
  display: none;
}

.time-left {
  text-align: left;
}

.scroll-container {
  overflow-y: scroll;
  max-height: 400px; /* Adjust the height as needed */
}

.time-right{
  text-align: right;
}

.column-container {
  display: grid;
  grid-template-columns: 1fr 200px; /* Adjust the width of the time column as needed */
  grid-column-gap: 100px; /* Add some space between the message and the time */
}

.message {
  display: flex;
  justify-content: flex-start;
}

.message-content {
  margin-right: 100px; /* Add some space between the message and the time */
}

.time {
  text-align: right;
  align-items: center;
}

.container {
  margin-bottom: 10px; /* Add some spacing between messages */
}

.container.darker {
  background-color: #f1f1f1; /* Apply a different background color to the recipient's message */
  border-radius: 5px; /* Add some border radius for a rounded look */
  padding: 10px; /* Add some padding to the container */
}

.container.darker .time {
  margin-left: 10px; /* Add some spacing between the message and time for the recipient's message */
}

.container .time {
  margin-right: 10px; /* Add some spacing between the message and time for the sender's message */
}

</style>
<div class="section" id="vue-target" v-cloak>
  <h1>Inbox</h1>
  <div class="columns">
    <div class="column is-one-fifth">
      <div v-for="m in messages">
        <div class="field">
          <p class="control">
            <button class="button is-link is-outlined" @click="select(m._idx)">
              <span>{{m.fname}}</span>
            </button>
          </p>
        </div>
      </div>
    </div>
    
    <div class="column">
      <div v-if="selected">
        <div class="field">
          <textarea class="textarea" placeholder="Say Hi!" v-model="selected.draft"></textarea>
        <div class="field">
          <p class="control">
            <button class="button is-link" @click="send">Send</button>
          </p>
        </div>
        <div v-for="m in selected.messages">
          <div v-if = "selected.uid == m.sender">
            <div class = "container">
            <span>{{selected.fname}}</span>
            <span>:</span>
            <span>{{m.message}}</span>
            <div class = "time">
              <span class = "time-right">{{sugar.Date(m.time_sent).relative()}}</span>
            </div>
          </div>
          </div>
          <div v-else>
            <div class = "container darker">
            Me
            <span>:</span>
            <span>{{m.message}}</span>
            </marquee>
            <div class = "time">
              <span class = "time-left">{{sugar.Date(m.time_sent).relative()}}</span>
            </div>
          </div>
         </div>
        </div>
      </div>
      <div v-else>
        <p>No user selected</p>
      </div>
    </div>
  </div>
</div>

[[block page_scripts]]
<script>
  let send_message_url = "[[=XML(send_message_url)]]";
  let get_messages_url = "[[=XML(get_messages_url)]]";
</script>
<script src="../static/js/messages.js"></script>
[[end]]
